.displaycard {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.displaycardItem {
    flex: 1;
    margin: 0px 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.displaycardItem.selected {
    flex: 1;
    margin: 0px 20px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background-color: #cfdff5;
    color: #076bf7;
}

.displaycardTitle {
    font-size: 15px;
}

.displaycardMoney {
    font-size: 17px;
    font-weight: 600;
}