@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .backdrop-blur {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
}

/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .backdrop-blur {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

#loader-spinner {
    @apply animate-spin;
}

@layer components {
    .card {
        @apply rounded-2xl dark:text-neutral-80 bg-white ring-1 ring-grey-20 dark:ring-white/[0.04] dark:bg-white/[0.02];
    }
}

body {
    @apply bg-white text-grey-100 dark:text-neutral-100 bg-gradient-to-b from-[#eff1fa] to-[#c1c7eb]  min-h-screen dark:bg-neutral-10 dark:bg-gradient-to-b dark:from-black/60 dark:to-[#13193c];
}
.big-underline {
    text-underline-offset: 0.25em;
}

.card-arrow {
    @apply h-8 w-8 rounded-full ring-1 ring-white bg-neutral-80 dark:bg-neutral-10 dark:ring-neutral-30 mx-auto !-mb-12 translate-y-[-2rem] flex items-center justify-center;
}

.card__action {
    @apply ring-1 ring-transparent dark:ring-white/[0.05] dark:bg-black/[0.25] shadow-lg md:shadow-card-action;
}

.nav__item--flat {
    @apply md:inline-block hidden t__button--u1 relative dark:hover:text-[#7382d3] hover:text-main-50 cursor-pointer;
}
.mobile-nav__item {
    @apply text-left p-2 pr-4 t__button--u1 hover:bg-main-90 dark:hover:bg-[#1f2232] rounded-lg w-36 dark:text-white;
}
.bg--highlight {
    @apply bg-gradient-to-l from-[#4929ad] to-[#e50146] text-white disabled:filter disabled:grayscale disabled:pointer-events-none;
}

/* Hiding arrows in input[type=number] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
.Toastify {
    --toastify-icon-color-success: theme('colors.green.70');
    --toastify-color-progress-success: theme('colors.green.70');
    --toastify-color-progress-error: theme('colors.red.60');
    --toastify-color-progress-error: theme('colors.red.60');
    --toastify-toast-width: 380px;
}
.Toastify__toast {
    @apply !shadow-toast bg-white dark:bg-[#171a27] dark:text-neutral-80 !rounded-lg;
}
.Toastify__toast-body {
    @apply font-body font-medium items-center justify-center !px-4;
}
.Toastify__toast-body > div:last-child {
    @apply !flex-none;
}
.Toastify__progress-bar {
    @apply rounded-full;
}
.Toastify__close-button {
    @apply dark:text-neutral-80;
}
.Toastify__toast-body > div:last-child {
    flex: 1 !important;
}
.arrow--top {
    position: relative;
    @apply dark:bg-neutral-80 bg-neutral-30;
}
.arrow--top:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(68, 65, 71, 0);
    border-bottom-color: #fff;
    border-width: 12px;
    margin-left: -12px;
}
.dark .arrow--top:after {
    border-bottom-color: theme('colors.grey.80');
}

.tippy-tooltip-content {
    @apply font-body t__caption--c1;
}
.tippy-popper .tippy-tooltip.transparent-theme {
    @apply bg-grey-90 text-grey-10 dark:bg-neutral-90 dark:text-neutral-30 shadow-lg rounded-lg !important;
}
.tippy-popper[x-placement^='bottom'] .tippy-tooltip [x-arrow] {
    border-bottom-color: theme('colors.grey.80') !important;
}
.dark .tippy-popper[x-placement^='bottom'] .tippy-tooltip [x-arrow] {
    border-bottom-color: theme('colors.neutral.90') !important;
}
.tippy-popper[x-placement^='top'] .tippy-tooltip [x-arrow] {
    border-top-color: theme('colors.grey.80') !important;
}
.dark .tippy-popper[x-placement^='top'] .tippy-tooltip [x-arrow] {
    border-top-color: theme('colors.neutral.90') !important;
}
.tippy-popper[x-placement^='left'] .tippy-tooltip [x-arrow] {
    border-left-color: theme('colors.grey.80') !important;
}
.dark .tippy-popper[x-placement^='left'] .tippy-tooltip [x-arrow] {
    border-left-color: theme('colors.neutral.90') !important;
}
.tippy-popper[x-placement^='right'] .tippy-tooltip [x-arrow] {
    border-right-color: theme('colors.grey.80') !important;
}
.dark .tippy-popper[x-placement^='right'] .tippy-tooltip [x-arrow] {
    border-right-color: theme('colors.neutral.90') !important;
}

a {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600;
}

.tippy-tooltip {
    @apply rounded-lg;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 2px;
}
::-webkit-scrollbar-thumb {
    background: theme('colors.grey.20');
    border: 0px none #ffffff;
    border-radius: 8px;
    cursor: pointer;
}
.dark ::-webkit-scrollbar-thumb {
    background: #2b2f49;
}

::-webkit-scrollbar-thumb:hover {
    background: theme('colors.grey.30');
}
.dark ::-webkit-scrollbar-thumb:hover {
    background: #3d4264;
}
::-webkit-scrollbar-thumb:active {
    background: theme('colors.grey.30');
}
.dark ::-webkit-scrollbar-thumb:active {
    background: #3d4264;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}
::-webkit-scrollbar-track:active {
    background: theme('colors.grey.10');
}
.dark ::-webkit-scrollbar-track:active {
    background: #212438;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
