.orgSwitcherButton {
    border: 0px;
    padding: 0px;
    background-color: #1054c4;
    color: white;
    height: 55px;
    font-weight: bold;
}

.orgSwitcherDropDownIcon {
    border: 0px;
    padding: 0px;
    background-color: #1054c4;
    color: white;
    height: 55px;
}

.orgSwitcherButtonContainer {
    align-items: center;
    background-color: #1054c4;
    padding: 10px 20px;
    margin-right: 50px;
}
