.patientTableContainer {
    flex: 7;
    margin: 20px;
}

.patientTable {
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
}

.patientTableTitle {
    font-size: 22px;
    font-weight: 600;
}

.patientTableTable {
    width: 100%;
    border-spacing: 20px;
}

.patientTableTh {
    text-align: left;
}

.patientTableUser {
    display: inline;
    align-items: center;
    font-weight: 600;
}

.patientTableImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.patientTableDate,
.patientTableAmount {
    font-weight: 300;
}

.patientTableButton {
    padding: 3px 9px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    width: 120px;
    text-align: left;
}

.patientTableTr:hover {
    background-color: rgb(240, 240, 255);
}

.patientTableButton.Confirmed {
    background-color: #e5faf2;
    color: #3bb077;
}

.patientTableButton.Finished {
    background-color: #fff0f1;
    color: #d95087;
}

.patientTableButton.StartedConsultation {
    background-color: #ebf1fe;
    color: #2a7ade;
}

.patientStatusIcon {
    font-size: 20px !important;
    color: #5fa3f7;
}