.container {
    display: flex;
    margin-top: 10px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.org-selector-modal {
    width: 100px;
}

.horiztontalContainer {
    display: flex;
    flex-direction: row;
    margin: 30px;
    border: solid 1px;
    border-radius: 15px 15px 15px 15px;
    border-color: #d0dbf5;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.fullWidthContainer {
    width: 100%;
}

.blue_border_rounded_white_box {
    border: solid 1px;
    border-radius: 0px 0px 15px 15px;
    border-color: #d0dbf5;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.blue_filled_rounded_box_top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1672f9;
    border-radius: 15px 15px 0px 0px;
    height: 57px;
}

.blue_filled_rounded_box_top_title_item {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-top: 6;
    color: white;
    padding: 13px;
}

.right_border_only_divider {
    border-right: 2px solid gray;
}

@import url('https://cdn.syncfusion.com/ej2/material.css');
