.container {
    display: flex;
    margin-top: 10px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.org-selector-modal {
    width: 100px;
} 

@import url("https://cdn.syncfusion.com/ej2/material.css");